@import url("./components/Button/button.css");
@import url("./components/Avatar/avatar.css");

:root {
  --color-primary: #20242d;
  --color-secondary: #78797a;
  --color-accent: #60dafd;
  --color-links: #bcbdbc;
  --color-danger: red;
  --color-difblue: #115e85;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Typography */
html {
  font-size: 62.5%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  background-color: var(--color-secondary);
}
h1,
h2,
h3 {
  color: var(--color-accent);
  margin-bottom: 1rem;
  line-height: 1.1;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: var(--color-links);
}

.navbar,
.navbar__list {
  display: flex;
}
.navbar {
  justify-content: space-around;
  flex-grow: 1;
  background-color: var(--color-primary);
  padding: 1.4rem;
  min-height: 10vh;
}
.navbar__list {
  width: 30%;
  justify-content: space-around;
  list-style: none;
  /* flex-grow: 1; */
}
.navbar__logo {
  color: var(--color-accent);
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: var(--color-secondary);
}
.hero h1,
p {
  padding: 2rem;
  text-align: center;
}
.btn__hero {
  outline: none;
  border: none;
  padding: 1.5rem 2rem;
  background-color: var(--color-accent);
  color: var(--color-primary);
  font-size: 2rem;
  cursor: pointer;
}
.aside__list li > a,
.aside {
  padding: 0.5rem;
}
.aside__list li {
  list-style: none;
  padding: 0.5rem;
}
.component-links > a:hover,
component-links > a:focus {
  background-color: var(--color-accent);
  color: var(--color-primary);
}
.grid--section {
  padding: 2rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-areas: "aside main sidebar";
}
.aside {
  grid-area: "aside";
}
.main {
  grid-area: "main";
}
.side--bar {
  grid-area: "sidebar";
}
