/* Inputs */
.input {
  border-radius: 30px;
  border: 1px solid var(--color-secondary);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
  position: relative;
}
.input__container {
  width: 250px;
  height: 40px;
  position: fixed;
  background: gray;
  /* margin: 1rem; */
}
.input--effect {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);

  background: var(--color-secondary, 0.4);
}
.input--effect-span {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: 0.5s;
  font-size: 20px;
  border: ;
}
.input--effect:focus + span {
  top: 0;
  left: 10px;
  color: var(--color-accent);
  padding: 2px;
  background: var(--color-secondary);
  pointer-events: none;
}

.input:disabled {
  color: var(--color-white);
}
::placeholder {
  color: var(--color-secondary);
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
