<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lazy Avatar</title>
    <link rel="stylesheet" href="/style.css" />

    <link rel="stylesheet" href="/prism/prism.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/index.html" class="navbar__logo">LazyCss</a>

        <ul class="navbar__list">
          <li><a href="/index.html">Home </a></li>
          <li><a href="/getstarted.html">Docs </a></li>
          <li>
            <a
              href="https://github.com/KuldeepSinghRathore/lazycss/tree/developement"
              >Github
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="grid--section">
      <aside class="aside">
        <ul class="aside__list">
          <li class="component-links">
            <a href="/components/Button/button.html">Button</a>
          </li>
          <li class="component-links">
            <a href="/components/Avatar/avatar.html">Avatar</a>
          </li>
          <li class="component-links">
            <a href="/components/Alert/alert.html">Alert</a>
          </li>
          <li class="component-links">
            <a href="/components/Badge/badge.html">Badge</a>
          </li>
          <li class="component-links">
            <a href="/components/Card/card.html">Card</a>
          </li>
          <li class="component-links">
            <a href="/components/Image/image.html">Image</a>
          </li>
          <li class="component-links">
            <a href="/components/Input/input.html">Input</a>
          </li>
          <li class="component-links">
            <a href="/components/Lists/lists.html">Lists</a>
          </li>
          <li class="component-links">
            <a href="/components/Navigation/navigation.html">Navigation</a>
          </li>
          <li class="component-links">
            <a href="/components/Modal/modal.html">Modal</a>
          </li>
          <li class="component-links">
            <a href="/components/Rating/rating.html">Rating</a>
          </li>
        </ul>
      </aside>
      <main>
        <img
          class="avatar avatar--150"
          src="https://miro.medium.com/fit/c/262/262/1*iCHrefA0Ig4R5mu6M56z8Q.jpeg"
          alt="Tanay bhaiya"
        />
        <pre> 
    <code  class ="language-html">
    &lt;img class=&quot;avatar avatar--150&quot; 
    src=&quot;https://miro.medium.com/fit/c/262/262/1*iCHrefA0Ig4R5mu6M56z8Q.jpeg&quot;
    alt=&quot;Tanay bhaiya&quot; /&gt; 
    </code>
    </pre>
        <img
          class="avatar avatar--100"
          src="https://miro.medium.com/fit/c/262/262/1*iCHrefA0Ig4R5mu6M56z8Q.jpeg"
          alt="Tanay bhaiya"
        />
        <pre> 
  <code  class ="language-html">
      &lt;img class=&quot;avatar avatar--100&quot;
       src=&quot;https://miro.medium.com/fit/c/262/262/1*iCHrefA0Ig4R5mu6M56z8Q.jpeg&quot; 
       alt=&quot;Tanay bhaiya&quot; /&gt; 
  </code>
</pre>
        <img
          class="avatar avatar--75"
          src="https://miro.medium.com/fit/c/262/262/1*iCHrefA0Ig4R5mu6M56z8Q.jpeg"
          alt="Tanay bhaiya"
        />
        <pre> 
  <code  class ="language-html">
      &lt;img class=&quot;avatar avatar--75&quot; 
      src=&quot;https://miro.medium.com/fit/c/262/262/1*iCHrefA0Ig4R5mu6M56z8Q.jpeg&quot; 
      alt=&quot;Tanay bhaiya&quot; /&gt; 
  </code>
</pre>
      </main>
      <div class="side--bar"></div>
    </section>
    <script src="/prism/prism-ws-cp.js"></script>
  </body>
</html>
