.rating span {
  /* height: 100%; */
  /* display: inline-block; */
  /* border: 1px solid; */
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  background-color: var(--color-accent);
}
