<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lazy Buttons</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />

    <link rel="stylesheet" href="/prism/prism.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/index.html" class="navbar__logo">LazyCss</a>

        <ul class="navbar__list">
          <li><a href="/index.html">Home </a></li>
          <li><a href="#">Docs </a></li>
          <li>
            <a
              href="https://github.com/KuldeepSinghRathore/lazycss/tree/developement"
              >Github
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="grid--section">
      <aside class="aside">
        <ul class="aside__list">
          <li class="component-links">
            <a href="/components/Button/button.html">Button</a>
          </li>
          <li class="component-links">
            <a href="/components/Avatar/avatar.html">Avatar</a>
          </li>
          <li class="component-links">
            <a href="/components/Alert/alert.html">Alert</a>
          </li>
          <li class="component-links">
            <a href="/components/Badge/badge.html">Badge</a>
          </li>
          <li class="component-links">
            <a href="/components/Card/card.html">Card</a>
          </li>
          <li class="component-links">
            <a href="/components/Image/image.html">Image</a>
          </li>
          <li class="component-links">
            <a href="/components/Input/input.html">Input</a>
          </li>
          <li class="component-links">
            <a href="/components/Lists/lists.html">Lists</a>
          </li>
          <li class="component-links">
            <a href="/components/Navigation/navigation.html">Navigation</a>
          </li>
          <li class="component-links">
            <a href="/components/Modal/modal.html">Modal</a>
          </li>
          <li class="component-links">
            <a href="/components/Rating/rating.html">Rating</a>
          </li>
        </ul>
      </aside>
      <main>
        <div class="badge__container">
          <a href="#" class="btn btn--primary">
            <span><b>Cart</b></span>
            <span class="badge">2</span>
          </a>
        </div>
        <pre class="language-html">
          <code>
            &lt;div class=&quot;badge__container&quot;&gt;
             &lt;a href=&quot;#&quot; class=&quot;btn btn--primary&quot;&gt;
             &lt;span&gt;&lt;b&gt;Cart&lt;/b&gt;&lt;/span&gt; 
            &lt;span class=&quot;badge&quot;&gt;2&lt;/span&gt;
             &lt;/a&gt;
              &lt;/div&gt;
          </code>

        </pre>

        <div class="badge__container">
          <a href="#" class="btn btn--primary">
            <span><b>Cart</b></span>
            <span class="material-icons badge"> notifications_none </span>
          </a>
        </div>
        <pre class="language-html"><code>
          &lt;div class=&quot;badge__container&quot;&gt;
          &lt;a href=&quot;#&quot; class=&quot;btn btn--primary&quot;&gt; 
          &lt;span&gt;&lt;b&gt;Cart&lt;/b&gt;&lt;/span&gt; 
          &lt;span class=&quot;material-icons badge&quot;&gt; notifications_none 
          &lt;/span&gt; &lt;/a&gt; 
          &lt;/div&gt;          
        </code></pre>

        <div class="badge__container">
          <a href="#" class="circular">
            <span class="material-icons badge--size"> notifications_none </span>
            <span class="badge">3</span>
          </a>
        </div>
        <pre class="language-html"><code>
         &lt;div class=&quot;badge__container&quot;&gt; 
         &lt;a href=&quot;#&quot; class=&quot;circular&quot;&gt; 
         &lt;span class=&quot;material-icons badge--size&quot;&gt; notifications_none 
         &lt;/span&gt; &lt;span class=&quot;badge&quot;&gt;3&lt;/span&gt; 
         &lt;/a&gt; 
         &lt;/div&gt;
        </code></pre>
        <div class="badge__container">
          <a href="#" class="circular">
            <span class="material-icons badge--size"> mail </span>
            <span class="badge">4</span>
          </a>
        </div>
        <pre class="language-html"><code>
          &lt;div class=&quot;badge__container&quot;&gt; 
          &lt;a href=&quot;#&quot; class=&quot;circular&quot;&gt;
           &lt;span class=&quot;material-icons badge--size&quot;&gt; mail &lt;/span&gt;
           &lt;span class=&quot;badge&quot;&gt;4&lt;/span&gt; 
          &lt;/a&gt; 
          &lt;/div&gt;

        </code></pre>
      </main>
      <div class="side--bar"></div>
    </section>
    <script src="/prism/prism-ws-cp.js"></script>
  </body>
</html>
