.badge__container {
  position: relative;
  display: inline-block;
  margin: 1rem;
}

.btn .badge {
  position: absolute;
  top: -2rem;
  right: -0.5rem;

  padding: 4px 8px;
  border-radius: 50%;
  background: var(--color-offwhite);
  color: var(--color--lightblack);
}
.circular {
  background: var(--color-offwhite);
  padding: 1.5rem;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.circular .badge {
  position: absolute;
  top: -1rem;
  right: 0;

  padding: 4px 8px;
  border-radius: 50%;
  background: var(--color--lightblack);
  color: var(--color-offwhite);
}
.badge--size {
  font-size: 48px;
  color: var(--color--lightblack);
}
